name: Publish package

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install build tool
        run: pip install build

      - name: Build package
        run: python -m build

      # --------------------
      # Publish to TestPyPI
      # --------------------
      - name: Publish to TestPyPI
        if: contains(github.ref_name, 'a') || contains(github.ref_name, 'b') || contains(github.ref_name, 'rc')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

      # --------------------
      # Publish to PyPI
      # --------------------
      - name: Publish to PyPI
        if: "!contains(github.ref_name, 'a') && !contains(github.ref_name, 'b') && !contains(github.ref_name, 'rc')"
        uses: pypa/gh-action-pypi-publish@release/v1
